<!DOCTYPE html>
<html lang="en">
<%- include('./include/inc_head.html') %>
<body>
    <div class="wrap">
        <!-- header -->
        <%- include('./include/inc_header.html') %>
        <!-- // -->
        <div class="container">
            <section class="section main-business">
                <div class="section__header">
                    <div class="inbox inbox--title">
                        <h2 class="section__title">Our Business</h2>
                    </div>
                </div>
                <div class="section__content">
	                <div class="inbox inbox--content">
                        <ul class="list">
                            <li>
                                <a href="#">
                                    <span class="list__number">01</span>
                                    <span class="list__title">
                                        IT Solution & Service
                                        <span class="list__description">
                                            Providing the comprehensive computing solution suited for the computing <br class="brmt"> and business management environment of the customer
                                        </span>
                                    </span>
                                    
                                    <figure class="imgbox">
                                        <img src="../assets/images/img01.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="list__number">02</span>
                                    <span class="list__title">
                                        Smart Factory Solution
                                        <span class="list__description">
                                            Enhancing productivity and product quality through real-time diagnosis <br class="brmt"> and prediction of the manufacturing site
                                        </span>
                                    </span>
                                    
                                    <figure class="imgbox">
                                        <img src="../assets/images/img02.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="list__number">03</span>
                                    <span class="list__title">
                                        Contact Center Service
                                        <span class="list__description">
                                            Providing assistance of all resources for the operation of the Contact Center, <br class="brmt"> such as consulting, building of infrastructure, manpower operation, etc.
                                        </span>
                                    </span>
                                    <figure class="imgbox">
                                        <img src="../assets/images/img03.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="list__number">04</span>
                                    <span class="list__title">
                                        Contact Center AI Solution
                                        <span class="list__description">
                                            Various AI technology and BPO (business process outsourcing) know-how <br class="brmt"> for assisting with consultation work
                                        </span>
                                    </span>
                                    <figure class="imgbox">
                                        <img src="../assets/images/img04.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="list__number">05</span>
                                    <span class="list__title">
                                        Cloud Contact Center Solution
                                        <span class="list__description">
                                            Providing expanded services from the call-centered solution <br class="brmt"> as the Cloud-based service
                                        </span>
                                    </span>
                                    <figure class="imgbox">
                                        <img src="../assets/images/img05.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="list__number">06</span>
                                    <span class="list__title">
                                        Display Solution
                                        <span class="list__description">
                                            Exclusive sales rights for Sharp/NEC, world-renowned <br class="brmt"> video equipment manufacturers of display solution products
                                        </span>
                                    </span>
                                    <figure class="imgbox">
                                        <img src="../assets/images/img06.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                        </ul>
	                </div>
                </div>
            </section>
        </div>
        <!-- footer -->
        <%- include('./include/inc_footer.html') %>
        <!-- // -->
    </div>
    <!-- ref: https://magasinn.xyz/ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./assets/scripts/common.js"></script>
</body>
</html>